.formDiv {
    margin:2em auto; 
    display: 'grid';
    height: 4em;
}

form{
    width:90%; 
    margin:0 auto;
}

.button {
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #ff5a00;
    color: white;
    text-transform: uppercase;
    border: none;
}

.input {
    
    height: 3em;
    border: 1px solid gray;
    width: 60%;
    padding-left: 1em;
}

.logo{
    padding: 2em;
    font-size: 2em;
    color:#ff5a00; 
}